<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Tests">
    <parameter name = "password" value="Pass1234!"/>
    <test thread-count="1" name="1">
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <parameter name = "username" value="recruiter2@a.com"/>
                    <include name="checkThatRecruiterCanLoginByUsername"/>
                </methods>
            </class>
        </classes>
    </test>
    <test thread-count="1" name="2">
        <classes>
            <class name="LoginPageTest">
                <methods>
                    <parameter name = "username" value="candidate2@a.com"/>
                    <include name="checkThatCandidateCanLoginByUsername"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
